*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 98%;
    height: 98%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191b28;
}
.upper{
    width: 95%;
    height: 20%;
    margin-left: 8px;
display: flex;
justify-content: flex-start;
align-items: center;
    
}
.upperleft{
    width: 85%;
    height: 50%;
    border-radius: 5px;
    background-color: #dcdbe1;
}
.upperright{
    width: 12%;
    height: 50%;
    border-radius: 5px;
    display: flex;
justify-content: center;
align-items: center;
background-color: #ff006a;
margin-left: 2px;

}
.lower{
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowerleft{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.number{
    width: 31%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65268f;
}

.lowerright{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.operator{
    width: 80%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65268f;
}

p{
    color: white;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}